@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s;
}

@keyframes color {
  0%,
  100% {
    color: red;
  }
  50% {
    color: #23acff;
  }
}

.animate-color {
  animation: color 4s linear infinite;
}

@keyframes colorBg {
  0%,
  100% {
    background: red;
  }
  50% {
    background: #23acff;
  }
}

.animate-bgColor {
  animation: colorBg 4s linear infinite;
}
